<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.Calorie.Tracker</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>37</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Wee need an access to your camera roll to let you add photos your custom prodcuts</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>We need an accsess to your health records to track your calorie consuptions more accurately</string>
	<key>NSHealthShareUsageDescription</key>
	<string>The healthkit entry isn’t used by WatchKit extensions.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need an update Helath records access to make your data entered in our app available for other apps.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need an access to your mac to let you perform search tasks without using a keyboard</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need an access to your photo library to let you add images to your custom food</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need an access to your mac to let you perform search tasks without using a keyboard</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Compact-Display-Medium.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-MediumItalic.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProDisplay-Semibold.ttf</string>
		<string>SFProText-Semibold.ttf</string>
		<string>SFProRounded-Bold.otf</string>
		<string>SFProRounded-Semibold.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Rounded-Medium.otf</string>
		<string>SF-Pro-Rounded-Heavy.otf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Pro-Rounded-Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>backendKey</key>
	<string>Bearer yKuSDC3SQUQNm1kKOA8s7bfd0eQ0WXOTAc8QsfHQ</string>
</dict>
</plist>
